<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <div>
      <label for="username">Username:</label>
      <select id="username" [(ngModel)]="username" name="username" required>
        <option *ngFor="let player of players" [value]="player.Email">{{ player.FirstName }} {{ player.LastName }}</option>
      </select>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required />
    </div>
    <div *ngIf="loginError" class="error">{{ loginError }}</div> <!-- Display error messages -->
    <button type="submit">Login</button>
  </form>
</div>

<!--<input type="text" id="username" [(ngModel)]="username" name="username" required />-->
