<div class="scorecard-details" *ngIf="scorecard; else loading">
  <h1>Scorecard Details</h1>

  <div class="player-info">
    <h2 *ngIf="scorecard.PlayerID != player?.id">
      Player Name: <span>{{ scorecard.playerName }}</span>
    </h2>
    <h3 class="course-info">
      <span class="course-name">Course Name: {{ scorecard.courseName }}</span>
      <span class="date">Date: {{ scorecard.GameDate | date: 'dd MMM yyyy (EEEE)' }}</span>
    </h3>
  </div>

  <div class="handicap-container">
    <span>Handicap Index: <strong>{{ scorecard.HandicapIndex }}</strong></span>
    <span>Course Handicap: <strong>{{ scorecard.CourseHandicap }}</strong></span>
    <span>Playing Handicap: <strong>{{ scorecard.PlayingHandicap }}</strong></span>
  </div>

  <div class="tee-box-info">
    <h4>Tee Box Color:
      <span>{{ scorecard.teeBoxColor }}</span>
      <span class="tee-box-color" [ngStyle]="{'background-color': scorecard.teeBoxColor}"></span>
    </h4>
  </div>

  <h3 *ngIf="scorecard.scores && scorecard.scores.length > 0">Scores:</h3>

  <table class="scorecard-table" *ngIf="scorecard.scores && scorecard.scores.length > 0">
    <thead>
    <tr>
      <th>Hole</th>
      <th *ngFor="let hole of holes; let i = index">{{ i + 1 }}</th>
      <th>In</th> <!-- Out total column for the first nine -->
      <th>Out</th> <!-- In total column for the second nine -->
      <th>Total</th> <!-- Overall total -->
    </tr>
    </thead>
    <tbody>
    <tr class="tee-row">
      <td>Tee: {{ scorecard.TeeBoxID }}</td>
      <td *ngFor="let hole of holes">{{ hole.Meters }}</td>
      <td class="total-cell">{{ totalMetersOut }}</td> <!-- Total for the first nine -->
      <td class="total-cell">{{ totalMetersIn }}</td> <!-- Total for the second nine -->
      <td class="total-cell">{{ totalMetersIn + totalMetersOut }}</td> <!-- Overall Total -->
    </tr>
    <tr>
      <td>Par:</td>
      <td *ngFor="let hole of holes">{{ hole.Par }}</td>
      <td class="total-cell">{{ totalParOut }}</td> <!-- Total for the first nine -->
      <td class="total-cell">{{ totalParIn }}</td> <!-- Total for the second nine -->
      <td class="total-cell">{{ totalParIn + totalParOut }}</td> <!-- Overall Total -->
    </tr>
    <tr>
      <td>Handicap:</td>
      <td *ngFor="let hole of holes">{{ hole.HandicapStroke }}</td>
      <td class="total-cell"></td> <!-- Total for the first nine -->
      <td class="total-cell"></td> <!-- Total for the second nine -->
      <td class="total-cell"></td> <!-- Overall Total -->
    </tr>
    <tr>
      <td>Strokes</td>
      <td *ngFor="let score of scorecard.scores; let index = index">
        <ng-container *ngIf="isEditable; else displayScore">
        <input *ngIf="isEditable"
          type="number"
          [(ngModel)]="originalScores[index]"
          pattern="^\d{0,2}$"
          maxlength="2"
          size="2"
          (keydown)="onKeyDown($event)"
          title="Please enter a number between 0 and 99"
          class="two-digit-input"
          [disabled]="!isEditable"
               (ngModelChange)="calculateDisplayScores()"
        />
        </ng-container>
        <ng-template #displayScore>
          {{ score.Strokes }}
        </ng-template>
      </td>
      <td class="total-cell">{{ calculateDisplayScores().totalIn }}</td> <!-- Total for the first nine -->
      <td class="total-cell">{{ calculateDisplayScores().totalOut }}</td> <!-- Total for the second nine -->
      <td class="total-cell">{{ calculateDisplayScores().totalIn + calculateDisplayScores().totalOut }}</td> <!-- Overall Total -->
    </tr>
    </tbody>
  </table>

  <div class="total-score">
    <span>Total Score: {{ scorecard.TotalScore }}</span>
  </div>

  <button (click)="toggleEditability()">
    {{ isEditable ? 'Cancel' : 'Edit Scores' }}
  </button>

  <button *ngIf="isEditable" (click)="confirmEdit()">
    Confirm
  </button>
</div>

<ng-template #loading>
  <p>Loading scorecard data...</p>
</ng-template>
