<!-- src/app/nav-bar/nav-bar.component.html -->
<nav *ngIf="!isLoading" class="navbar">
  <div class="navbar-container">
    <div *ngIf="currentUser">
      <a routerLink="/" class="navbar-brand">Welcome, {{ currentUser.username }}</a>
    </div>
    <ul class="navbar-menu">
      <li><a routerLink="/addscore">Add Score</a></li>
      <li><a routerLink="/view-scorecards">Scorecards</a></li>
      <li><a routerLink="/profile">Profile</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>

<div *ngIf="isLoading" class="loading-spinner">
  Loading...
</div>
